@model IEnumerable<Subject>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <h3>Subjects</h3>
        <div class="d-flex justify-content-end mb-1">
            <a class="btn btn-primary btn-sm" asp-action="Create" asp-controller="Subjects">Add New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>CourseDuration</th>
                    <th>Teacher</th>
                    <th>ExrtaClass</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>

                        <td>@p.CourseDuration?.ToString("yyyy-MM-dd")</td>
                        <td>@p.Teacher?.TeacherName</td>
                        <td>@p.ExrtaClass</td>
                        <td>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-controller="Subjects" asp-route-id="@p.SubjectId">Edit</a>
                            <button data-pk="@p.SubjectId" type="button" class="btn btn-danger btn-sm del">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
    {
    <script src="~/libs/jquery/jquery.js"></script>
    <script>
        $(".del").click(function () {
            if (!confirm('Are you sure to delete?')) return;
            var btn = $(this);
            let id = $(this).data("pk");
            $.ajax({
                type: "post",
                url: "/Subjects/Delete/" + id,
                dataType: "json",
                success: r => {
                    if (r.success == true) {
                        btn.closest("tr").remove();
                    }
                }
            })
        })
    </script>
}


